<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491723782906-rtkjugi8n9mf59gqus818fs78t4tg1c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491723782906-rtkjugi8n9mf59gqus818fs78t4tg1c2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491723782906-g14t8v4l303bt35n5t2v7cjeflco52i6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3GIsi-IDSJ1jQG3JH7wJWkQNKY-svs6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>491723782906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.metaphor.metaphorAlpha</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-86a68</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-86a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491723782906:ios:7ee485a30b61d2d4</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchat-86a68.firebaseio.com</string>
</dict>
</plist>